body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}


h1{
  font-size: 3rem;
  color: azure;
}

hr{
  border-color: orange;
  border-width: 3px;
  max-width: 65px;
}

.buffer{
  height: 10rem;
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-xl{
  padding: 1rem 2rem;
}

.btn-primary
{
background-color: darkslategray;
border-color: darkslategray;
}
.btn-primary:hover{
background-color: olive;
border-color: olive;
border-width: 4px;
}